@charset "utf-8";
.stylo{
	
}
header,main,nav,footer{
	margin: 0px auto;
	padding: 30px;
	text-align: center;
    height: auto; 
}
header{
	font-size: 30px;
	height: 40px;
	background-color: black; 
	padding: 30px;
	color: #FAD956; 
	font-family: 'Adamina', serif;

}
section{
    background-color: #89788F;
    align-content: center;
    
}
footer{
   height: 40px;
    background-color: black;
    padding: inherit;
}